
@{
    ViewBag.Title = "الاشعارات";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h2 class="header-title m-t-0 m-b-30"> الاشعارات</h2>

            <!-- -------------------------------------------------------------------------------------------------- -->


            <div>


                <div class="row">


                    <div class="col-md-6 d-flex form-group">
                        <div class="ml-3">
                            <label class="d-block"> الكل</label>
                            <input type="checkbox" id="allEmployees" />
                        </div>

                        <div class="w-100" id="employee_div">
                            <label>
                                العملاء
                            </label>
                            <select class="select-2 form-control" id="multipleEmployeeSelect" multiple="multiple"></select>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex form-group">

                        <div class="ml-3">
                            <label class="d-block"> الكل</label>
                            <input type="checkbox" id="allProviders" />
                        </div>

                        <div class="w-100" id="employee_div">
                            <label>
                                مقدمين الخدمة
                            </label>
                            <select class="select-2 form-control" id="multipledelegetSelect" multiple="multiple"></select>
                        </div>
                    </div>

                </div>


                <div class="form-group">
                    <label>
                        نص الاشعار
                    </label>
                    <textarea class="form-control" id="notifyMessage" placeholder="اكتب النص هنا" required></textarea>
                </div>
                <button class=" btn-black btn-rounded w-md waves-effect waves-light m-b-5" id="send" onclick="Send();"> ارسال  </button>
            </div>


            <!-- -------------------------------------------------------------------------------------------------- -->


        </div>

        <div class="row">
            <!-- end row -->
        </div>
    </div><!-- end col -->
</div>

<style>
    .select2-container--default .select2-selection--multiple {
        background-color: #b2a5a5;
        border: 1px solid #aaa;
        border-radius: 25px;
        cursor: text;
        padding: 4px;
        border: 1px solid #f5f5f5 !important;
    }
</style>


@section scripts
{
    <script>

        $(document).ready(function () {


            $(".row").on('blur keyup change click',
                function () {

                    var value = $("#notifyMessage").val();

                    //console.log(value);
                    //if ((allProviders.length > 0 || allEmployees.length > 0)) {
                    //    toastr.warning('من فضلك ادخل بيانات الاشعار');
                    //    return false;
                    //}
                });


            //العملاء

            $.ajax({
                url: "/SendNotification/GetUsers",
                type: "GET",
                dataType: "json",

                success: function (data) {

                    var list = '';

                    for (var i = 0; i < data.users.length; i++) {
                        var option = '<option value="' +
                            data.users[i].id +
                            '">' +
                            data.users[i].name +
                            '</option>';
                        list += option;
                    };

                    $('#multipleEmployeeSelect').append(list);
                }
            });


            //مقدمين الخدمة

            $.ajax({
                url: "/SendNotification/GetDeleget",
                type: "GET",
                dataType: "json",

                success: function (data) {

                    var list = '';

                    for (var i = 0; i < data.delegets.length; i++) {
                        var option = '<option value="' +
                            data.delegets[i].id +
                            '">' +
                            data.delegets[i].name +
                            '</option>';
                        list += option;
                    };

                    $('#multipledelegetSelect').append(list);
                }
            });



            var selectedEmployees = [];

            $('#multipleEmployeeSelect').change(function () {
                allEmployees = $("#multipleEmployeeSelect").val();

                if (!$("#multipleEmployeeSelect").val()) {
                    $("#allEmployees").attr("disabled", false);
                    allEmployees = "";
                }

            });


            $('#multipledelegetSelect').change(function () {
                allEmployees = $("#multipledelegetSelect").val();

                if (!$("#multipledelegetSelect").val()) {
                    $("#allEmployees").attr("disabled", false);
                    allEmployees = "";
                }

            });

            var allEmployees = [];


            $("#allEmployees").on("click", function () {
                if ($(this).is(':checked')) {


                    $("#multipleEmployeeSelect > option").prop("selected", true);
                    $("#multipleEmployeeSelect").trigger("change");

                    $("#multipleEmployeeSelect > option:selected").each(function () {
                        allEmployees.push($(this).val());
                    });

                } else {
                    $("#multipleEmployeeSelect > option").prop("selected", false);
                    $("#multipleEmployeeSelect").trigger("change");

                    $("#multipleEmployeeSelect > option:selected").each(function () {
                        allEmployees.pop($(this).val());
                    });
                }

            });


            var allProviders = [];


            $("#allProviders").on("click", function () {
                if ($(this).is(':checked')) {



                    //مقدم خدمة

                    $("#multipledelegetSelect > option").prop("selected", true);
                    $("#multipledelegetSelect").trigger("change");

                    $("#multipledelegetSelect > option:selected").each(function () {
                        allEmployees.push($(this).val());
                    });


                } else {


                    $("#multipledelegetSelect > option").prop("selected", false);
                    $("#multipledelegetSelect").trigger("change");

                    $("#multipledelegetSelect > option:selected").each(function () {
                        allEmployees.pop($(this).val());
                    });

                }

            });


        })








        function Send() {
            debugger;
            if ($("#notifyMessage").val() == "") {
                toastr.warning('من فضلك ادخل النص');
                $("#notifyMessage").focus();
                return false;
            }
            if ($("#multipleEmployeeSelect > option:selected").val() == undefined && $("#multipledelegetSelect > option:selected").val() == undefined) {
                toastr.warning('من فضلك اختر المستخدم');

                return false;
            }

            var employeesData = [];
            var ProviderData = [];

            $("#multipleEmployeeSelect > option:selected").each(function () {
                debugger;
                employeesData.push($(this).val());
            });

            $("#multipledelegetSelect > option:selected").each(function () {
                debugger;
                ProviderData.push($(this).val());
            });
            var textMessage = $("#notifyMessage").val();

            Swal.fire({
                position: 'success',
                type: 'success',
                title: 'تم الارسال بنجاح..',
                showConfirmButton: false,
                timer: 1500
            });

            $.ajax({
                url: "/SendNotification/Send",
                type: "POST",
                dataType: "json",
                data: {
                    msg: textMessage,
                    employees: employeesData.join(','),
                    providers: ProviderData.join(','),
                },
                success: function (result) {
                    $("#send").prop("disabled", true);
                    window.location.href = "/SendNotification/Index";
                }
            });


            //setTimeout("pageRedirect()", 10000);
            //$.ajax({
            //    url: "",
            //    context: document.body,
            //    success: function (s, x) {
            //        $(this).html(s);
            //    }
            //});
        }


    </script>
}

