@{
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}


<div class="paner_">
    <img src="~/website/imgs/aboutas.png" />
    <div class="d-flex flex-column gap-3 justify-content-center align-items-center">
        <h1 class="m-0 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">من نحن</h1>
        <p class="wow fadeIn gray-color" data-wow-duration="2s" data-wow-delay="0.2s">
            منشأة رائدة على مستوى المملكة العربية السعودية، متخصصة في إنتاج الدواجن ومشتقاتها  الغذائية، وتُعد من أبرز المشاريع الصناعية
            التي تلتزم بأعلى معايير الجودة في جميع مراحل الإنتاج.
        </p>
    </div>
</div>

<div class="sec-marg">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <img src="~/website/imgs/vission.png" class="img-fluid border" />
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="mb-20 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                        <div class="titile_2"><img src="~/Website/imgs/logo.png"> رؤيتنا</div>
                        <p class="f-b">
                            أن نكون الخيار الأول لتقديم منتجات غذائية صحية وموثوقة تُلبي تطلعات عملائنا وتفوق توقعاتهم.

                        </p>
                    </div>
                    <div class="mb-20 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                        <div class="titile_2"><img src="~/Website/imgs/logo.png"> رسالتنا</div>
                        <p class="f-b">
                            نسعى لتقديم منتجات عالية الجودة، مستندين إلى خبراتنا ومواردنا، للإسهام في تحقيق الأمن الغذائي وتعزيز نمط حياة صحي لمجتمعنا.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
