@{
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="paner_">
    <img src="~/website/imgs/partnerssuccess.png" />
    <div class="d-flex flex-column gap-3 justify-content-center align-items-center">
        <h1 class="m-0 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s"> شركاء النجاح</h1>
    </div>
</div>

<div class="sec-marg">
    <div class="container">

        <div class="row">
            <div class="col-md-4 col-6">
                <div class="box-partners wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <img src="~/Website/imgs/alshrkat_1.png">
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="box-partners wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <img src="~/Website/imgs/alshrkat_2.png">
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="box-partners wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <img src="~/Website/imgs/alshrkat_3.svg">
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="box-partners wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <img src="~/Website/imgs/alshrkat_4.png">
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="box-partners wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <img src="~/Website/imgs/alshrkat_5.jpg">
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="box-partners wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <img src="~/Website/imgs/alshrkat_6.png">
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="box-partners wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <img src="~/Website/imgs/alshrkat_7.png">
                </div>
            </div>
            <div class="col-md-4 col-6">
                <div class="box-partners wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <img src="~/Website/imgs/alshrkat_8.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
