@{
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="sec-marg">
    <div class="container">
        <div>

            <div class="filter_Pro mb-4">
                <button class="btn_" type="button">بيض المائدة</button>
                <button class="btn_" type="button">دجاج طازج و مجمد</button>
                <button class="btn_" type="button">دجاج متبل</button>
                <button class="btn_" type="button">مصنعات لحوم دجاج</button>
                <button class="btn_" type="button">منتجات الدجاج الطازج</button>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <a href="store.html" class="box-product_ wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                        <div class="img_">
                            <img src="~/website/imgs/prod_1.png" />
                        </div>
                        <div class="p-3">أجزاء دجاج متبلة</div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="store.html" class="box-product_ wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                        <div class="img_">
                            <img src="~/website/imgs/prod_2.png" />
                        </div>
                        <div class="p-3">أجزاء دجاج متبلة حار</div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="store.html" class="box-product_ wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                        <div class="img_">
                            <img src="~/website/imgs/prod_3.png" />
                        </div>
                        <div class="p-3">أصابع دجاج</div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <a href="store.html" class="box-product_ wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                        <div class="img_">
                            <img src="~/website/imgs/prod_4.png" />
                        </div>
                        <div class="p-3">بروستد دجاج</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>