@{
    Layout = "~/Views/Shared/_LayoutWebsite.cshtml";
}
<div class="paner_">
    <img src="~/website/imgs/paner6.jpg" />
    <div class="d-flex flex-column gap-3 justify-content-center align-items-center">
        <h1 class="m-0 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">حول الإنتاج</h1>
    </div>
</div>

<div class="sec-marg">
    <div class="container">
        <div>
            <p class="f-b mb-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                يتم ذبح الدجاج يدوياً بالسكين حسب الشريعة الإسلامية. يضم المشروع مسالخ مجهزة بأحدث التقنيات لإنتاج الدجاج. مصنع متخصص لمصنعات الدجاج والمصنعات الطازجة والمجمدة وفق أحدث الأسس العلمية من حيث الاهتمام بالجودة والكفاءة الفنية
            </p>
            <div>
                <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <h4 class="main-color f-b mb-3">الذبح الإسلامي</h4>
                    <p>كما هو معروف فإن الذبح على الطريقة الإسلامية يعد واجباً شرعياً انطلاقاً من قوله تعالى في سورة الأنعام :” ولا تأكلوا ممّا لم يُذكر أسم الله عليه ” صدق الله العظيم آيه ( 121)</p>
                    <p>عدا عن ذلك ، فإن للذبح الإسلامي فوائد صحية جمة وفق ما توصلت إليه الدراسات العلمية المختلفة حيث أن الذبح اليدوي الشرعي يعطي فرصة للدم كي ينساب خارجاً . أما في حالة الذبح غير الشرعي ، فإن الدم يحتقن في منطقة العنق مكوّناً مواد سمية تتسرب إلى داخل جسم الحيوان، وقد تؤذي هذه المواد الإنسان الذي يتناول لحم الدجاج. وعلاوة على ذلك ، فقد أثبت الذبح اليدوي الإسلامي عبر الدراسات أنه يسبب ألما أقل بكثير للحيوان من طرق الذبح الأخرى.</p>
                </div>
                <hr>
                <div class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                    <h4 class="main-color f-b mb-3">شروط الذبح الحلال</h4>
                    <p class="mb-3 f-b">يحرص القائمون في دواجن الوطنية على تطبيق كافة الخطوات الشرعية للذبح وهي التي حدّدها أكثر فقهاء وعلماء المسلمين:</p>
                    <ul class="The_info_">
                        <li>التأكد من أهلية الذابح وإكماله للشروط الشرعية.</li>
                        <li>النطق بالبسملة قبل ذبح الدجاجة.</li>
                        <li>أن يتم جزّ العنق بسكين حادة.</li>
                        <li>أن يتم قطع البلعوم والمريء والودجين اللذين يقعان في عنق الدجاجة من جهة البلعوم.</li>
                        <li>تواجد رقيب شرعي بشكل مستديم لمتابعة الضوابط الشرعية في الذبح.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>