@model AlManalChickens.Domain.ViewModel.Category.CreateCategoryViewModel
<div class="card-box">

    <h2 class="header-title m-t-0 m-b-30">اضافة قسم جديد</h2>

    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="NameAr" class="control-label">الاسم بالعربية</label>
                    <input asp-for="NameAr" class="form-control" />
                    <span asp-validation-for="NameAr" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="NameEN" class="control-label">الاسم بالانجليزيه</label>
                    <input asp-for="NameEN" class="form-control" />
                    <span asp-validation-for="NameEN" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="اضافة" class="btn-new-style btn-rounded" />
                </div>
            </div>
            <div class="col-md-12">
                <div>
                    <a asp-action="Index" class="btn-black">العودة للرئيسية</a>
                </div>
            </div>
        </div>

    </form>


</div>