@model object

@{
    ViewBag.Title = "title";
    Layout = null;
    var type = ViewBag.type;
}

<div class="new-alert">
    <img src="~/images/checkmark.png" />
    <h4> تمت عملية الدفع بنجاح</h4>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        if (@type == 1 || @type == 2) {
            window.location.assign(window.location.origin + "/OfficeOrders/Index");
        }
        if (@type == 3 || @type == 4) {
            window.location.assign(window.location.origin + "/OfficeOrders/Others");
        }

    })
</script>
