@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "تم ارسال ايميل للتحقق";
    Layout = "_Layout2";
}

<h2>@ViewData["Title"]</h2>
<p>
    برجاء تفقد الايميل لاستعادة كلمة السر
</p>

