@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "تأكيد تعديل كلمة المرور";
    Layout = "_Layout2";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-page="./Login">انقر لتسجبل الدخول</a> تم تعديل كلمة المرور 
</p>
