@model AlManalChickens.Domain.ViewModel.Slider.CreateSliderViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box">
    <h2 class="header-title m-t-0 m-b-30">اضافة اعلان</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form enctype="multipart/form-data" asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*                 <div class="form-group">
                    <label asp-for="SliderName" class="control-label">اسم الاعلان</label>
                    <input asp-for="SliderName" class="form-control" />
                    <span asp-validation-for="SliderName" class="text-danger"></span>
                </div> *@
                <div class="form-group">
                    <label asp-for="Image" class="control-label">الصورة</label>
                    <input asp-for="Image" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Url" class="control-label">رابط الاعلان</label>
                    <input asp-for="Url" class="form-control" />
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                 <div class="form-group packageTime">
                    <label asp-for="ExpireDate" class="control-label">تاريخ انتهاء عرض الاعلان</label>
                    <input id="date_picker" type="date" asp-for="ExpireDate" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="اضافة" class="btn-new-style btn-rounded" />
                </div>

                <div>
                    <a asp-action="Index" class="btn-black">العودة الى الرئيسية</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script language="javascript">
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        $('#date_picker').attr('min', today);
    </script>

}
